<form enctype="multipart/form-data" method="post" action="{{submit_url}}" {% if not full_page %} class='staticpage-form'{% endif %}>
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="callout secondary alert">
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% for field in form %}
    <label>{{field.label|capfirst}}</label>
    {% if field.errors %}
    <div class="callout secondary alert">
        {{field.errors}}
    </div>
    {% endif %}
    <label>
        <p class="secondary">{{field.help_text}}</p>
        {{field}}
    </label>
    {% endfor %}
    <p class="text-center"><button type="submit" class="success button">
        {{submit_label}}</button></p>
</form>
