{% load i18n compress %}<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site_title}}</title>
    {% if favicon %}
    <link rel="icon" href="{{MEDIA_URL}}{{favicon}}" />{% endif %}
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}foundation/css/foundation.css">
    <link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}styles.css">
    <style type="text/css">
    {% for color in colors %}
    .color-{{color.slug}}{
      color: {{color.color}};
      background-color: {{color.background_color}};
    }
    .color-{{color.slug}}:hover{
      color: {{color.color}};
    }
    .color-{{color.slug}}-invert{
      background-color: transparent;
      color: {{color.background_color}};
    }
    {% endfor %}
    </style>
    {% endcompress %}
    {% if extra_css %}
    <link rel="stylesheet" href="{{MEDIA_URL}}{{extra_css}}">{% endif %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
