{% load fanstutils i18n %}
<tr{% if broadcast.id == current_broadcast.id %} class='current-broadcast'{% endif %}>
    <th colspan="2">{{broadcast.date|date:"l d F Y"|capfirst}}</th>
    <td colspan="2" class="text-right">{{broadcast.schedule}}</td>
</tr>
<tr{% if broadcast.id == current_broadcast.id %} class='current-broadcast'{% endif %}>
    <td>
        {% for tag in broadcast.tags.all %}
        <span class="label{% if tag.color %} color-{{tag.color.slug}}{% endif %}">
                      {{tag.display|safe}}</span>
        {% endfor %}
        {% if broadcast.original_version %}
        <span class="badge success" title="{% trans 'Original version' %}">
                    {% trans "OV" %}</span>{% endif %}
        {% if broadcast.three_dimensional %}
        <span class="badge" title="{% trans '3D'%}">{% trans "3D" %}</span>{% endif %}
    </td>
    <td{% if old_broadcast %} colspan="2"{% endif %}>{% for event in broadcast.events.all %}
        {% if not forloop.first %} &ndash; {% endif %}
            {% if event.description or event.picture %}
            <a class='event-link' data-event="{{event.slug}}"
               data-multiple-opened="true">
            {% endif %}
            {{event.short}}
            {% if event.description or event.picture %}</a>{% endif %}
    {% endfor %}
    {% if broadcast.special_description and broadcast.events.count %} - {% endif %}
        {{broadcast.special_description}}
    </td>
    {% if not old_broadcast %}
    <td class="text-right"><a title="{% trans 'Add to your calendar' %}"
           href="{% url 'movie-ical' theater.slug broadcast.movie.slug broadcast.id %}">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    </a></td>{% endif %}
</tr>
