{% if resource.resource_type == 'Youtube' or resource.resource_type == 'Vimeo' %}
<div class="row">
    <div class="medium-offset-1 medium-5 columns">
        <div class="flex-video">
          <iframe width="420" height="315"
                  src="{{resource.link}}{{resource.extra_parameters|safe}}"
                  allowfullscreen style="border:0"></iframe>
        </div>
    </div>
</div>
{% endif %}