{% load i18n fanstutils %}
<button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
</button>
<h4>{% if menu %}{{menu}} &ndash; {% endif %}{{page.title|safe}}{% if is_staff %}
    <a href="{% url 'admin:fantasmagorie_flatpage_change' page.id %}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>{% endif %}</h4>
<div class="{{page.title|slugify}}">
{{page|safe_page}}
</div>
