{% load i18n %}<div class="share-bar">
    <a target="_blank" title="{% trans 'Email' %}"
       href="mailto:?subject={{share_message|urlencode }}&body={{current_url|urlencode}}{{share_url|urlencode}}" rel="nofollow">
        <strong class="fa-fw">@</strong>
    </a>
    <a target="_blank" title="Twitter"
       href="https://twitter.com/share?url={{current_url}}{{share_url}}&amp;text={{share_message|urlencode }}{% if theater.twitter_id %}&amp;via={{theater.twitter}}{% endif %}" rel="nofollow" alt="Twitter">
        <i class="fa fa-fw fa-twitter" aria-hidden="true"></i>
    </a>
    <a target="_blank" title="Facebook"
       href="https://www.facebook.com/sharer.php?u={{current_url}}{{share_url}}&amp;t={{share_message|urlencode }}" rel="nofollow">
        <i class="fa fa-fw fa-facebook" aria-hidden="true"></i>
    </a>
    <a target="_blank" title="Google +"
       href="https://plus.google.com/share?url={{current_url}}{{share_url}}" rel="nofollow">
        <i class="fa fa-fw fa-google-plus" aria-hidden="true"></i>
    </a>
    <a class="display-link" href="" title="{% trans 'Direct link' %}">
        <i class="fa fa-fw fa-link" aria-hidden="true"></i>
    </a>
    <span class='hidden-link'>{{current_url}}{{share_url}}</span>
</div>
