{% extends 'index.html' %}{% load i18n %}

{% block main %}
<div class="tiny reveal" id="tiny-page" data-reveal>
    <button class="close-button" data-close aria-label="Close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

    <h4>{% trans "Newsletter unsubscribe" %}</h4>

    {% if success %}
    <div class="callout primary">
        <em>{{email}}</em>{% trans " have been unsubscribed to our mailing list." %}
    </div>
    {% else %}
    {% if unknown %}
    <div class="callout alert">
        <em>{{email}}</em>{% trans " has no subscription to our mailing list." %}
    </div>
    {% elif email %}
    <p><em>{{email}}</em> {% trans "is currently subscribing to our mailing list." %}</p>
    {% endif %}

    {% trans "Unsubscibe" as submit_label %}
    {% url 'unsubscribe' as submit_url %}
    {% include "base_form.html" %}

    {% endif %}
</div>


{% endblock %}

{% block extrajs %}
$(document).ready(function(){
    $('#tiny-page').foundation('open');
});
{% endblock %}
