{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
</button>
<h4>{% trans "Newsletter" %}</h4>

<table>
    <tr>
        <td>
            <a class='staticpage-link'
               data-page="{% url 'newsletter_subscribe_request' object.slug %}">
                {% trans "Subscribe" %}
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class='staticpage-link'
               data-page="{% url 'newsletter_unsubscribe_request' object.slug %}">
                {% trans "Unsubscribe" %}
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class='staticpage-link'
               data-page="{% url 'logout' %}">
                {% trans "Logout" %}
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class='staticpage-link'
               data-page="{% url 'delete-account' %}">
                {% trans "Delete my account" %}
            </a>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        register_staticpage();
    });
</script>
