{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<h4>{% trans "Newsletter subscribe" %}<br>{{ newsletter.title }}</h4>

{% if error %}
<div class="callout secondary alert">
    <p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>
</div>
{% else %}
{% trans "Subscribe" as submit_label %}
{% url 'newsletter_subscribe_request' object.slug as submit_url %}
{% include "base_form.html" %}
{% endif %}
