{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button"
        xmlns="http://www.w3.org/1999/html">
    <span aria-hidden="true">&times;</span>
</button>

<h4>{% trans "Newsletter subscribe" %}<br>{{ newsletter.title }}</h4>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "Do you want to subscribe to this newsletter?" %}</p>
<form enctype="multipart/form-data" method="post" action="{% url 'newsletter_subscribe_confirm' newsletter.slug %}"
    class='staticpage-form'>
    {% csrf_token %}
    <p class="text-center"><button type="submit" input id="id_submit" name="submit" class="success button"
               value="submit">{% trans "Subscribe" %}</button></p>
</form>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        register_staticpage();
    });
</script>
