{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4>{% trans "Authentification" %}</h4>
{% if first %}
<div class="callout primary">
    {% trans "An activation email has been sent. You should receive it shortly. Activate your account with the link provide in this email before login-in." %}
</div>
{% endif %}

<p>{% trans "You have to login in order to manage your subscription to the mailing list." %}</p>

{% trans "Login" as submit_label %}
{% url 'newsletter_login' as submit_url %}
{% include "base_form.html" %}

<p class="text-center"><small>
    <a class='staticpage-link' data-page="{% url 'f_password_reset' %}">
        {% trans "Password forgotten?" %}</a></small></p>

<p>{% trans "If you do not have an account, " %}<a class='staticpage-link' data-page="{% url 'signup' %}">{% trans 'create it'%}</a>.</p>

<script type="text/javascript">
      $(document).ready(function(){
        register_staticpage();
      });
</script>
