{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4>{% trans "Create an account" %}</h4>

<p>{% trans "Your email will be only used for this mailing list. You can unsubscribe at any moment." %}</p>

{% trans "Create" as submit_label %}
{% url 'signup' theater as submit_url %}
{% include "base_form.html" %}

<script type="text/javascript">
      $(document).ready(function(){
        register_staticpage();
      });
</script>
