h4{
    text-align: center;
    text-shadow: 1px 1px 2px rgb(30, 30, 30);
}

figcaption a,
figcaption a:hover{
    color: #fff;
}

.secondary{
    font-size: 0.9em;
    color: #777;
    margin: 0;
}

ul.messages{
    display: block;
    position: absolute;
    z-index: 3000;
    padding: 0.2em 0.5em;
    top: 1em;
    list-style-type: none;
}

.flex-centered{
    justify-content: center;
}

.small-centered{
    text-align: center;
}

.column {
    padding: 0;
}

.hour, .day, .month{
    display: block;
    padding: 0em 0.5em;
}

.month{
    font-size: 1.2em;
    background-color: #3d8b40;
}

.day, .month{
    color: white;
    text-shadow: 1px 1px 2px rgb(30, 30, 30);
}

.hour, .day{
    text-align: center;
}

.day{
    background-color: #4caf50;
}

.current-date .day{
    background-color: rgb(255, 126, 0);
}

.current-broadcast td,
.current-broadcast th{
    background-color: #ffeea4;
}

table.broadcast tbody tr:nth-child(2n){
    background-color: inherit;
}

table.broadcast tbody tr:nth-child(4n -1),
table.broadcast tbody tr:nth-child(4n){
    background-color: #f1f1f1;
}

table.broadcast tbody tr:nth-child(even) {
    font-size: 0.9em;
}

table.broadcast tbody th, table.broadcast tbody td {
    padding: 0 0.310rem 0.310rem;
}

table.broadcast tbody th:last, table.broadcast tbody td:last {
    text-align: right;
}


.column:nth-child(even){
    background-color: #eee;

}

.tech-description{
    font-style: italic;
    margin-bottom: 10px;
}

table.broadcast th{
    text-align: left;
}

.tag-container{
    background-color: inherit;
    margin: 0;
    padding: 0;
    border: 0 solid;
    position: relative;
    /* box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.2); */
    text-align: center;
}

.tag-container span.content{
    padding: 2px 4px;
    display: inline-block;
    width: 100%;
    padding: 0;
}

.badge-container{
    position: absolute;
    margin: 5px 8px;
}

.badge-container .badge{
    font-size: 0.75em;
}

.theater-logo {
    color:transparent;
    font-size: 0;
}

.movie-arrow{
    margin:0 3em;
    font-size: 0.8em;
    width: 1em;
    display: inline-block;
}

.movie-link{
    border: solid 4px #fefefe;
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.2);
}

.movie-link:hover{
    border-color: rgba(255, 126, 0, 1);
    box-shadow: 0 0 6px 1px rgba(255, 126, 0, 0.5);
}

.movie-link .thumbnail {
    border:solid 0px #fff;
    padding: 0;
    margin-bottom: 0px;
    box-shadow: none;
    background-color: inherit;
    border-radius: 0;
}

.movie-link .thumbnail:hover {
    box-shadow: none;
}

.movie-title,
.event-thumb{
    display: block;
    position: relative;
    margin: 0;
    padding: 0 2px;
    text-align: center;
    border: solid 2px #fff;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: inherit;
}

.event-thumb{
    border: 0;
    padding: 0;
    font-size: 0.7em;
    /* box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.2); */
    display: block;
    width: 100%;
}

.thumbnail.no-event,
.event-thumb.last{
    border-radius: 0 0 2px 2px;
}

.movie-title{
    font-size: 0.8em;
    padding: 0px;
    border: 0px solid;
}

.movie-title span{
    border-radius: 2px 2px 0 0;
    display: inline-block;
    width: 100%;
}

.tags{
    text-align: center;
}

.special-description{
    font-weight: bold;
    font-style: italic;
}

.top-bar{
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.2);
    padding: 0;
}

.top-bar-right{
    padding: 6px;
}

.orbit{
    background-color: rgb(0, 0, 0);
    padding-bottom: 5px;
}

.intro{
    margin: 10px;
}
.intro div{
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(20, 20, 20, 0.4);
}

.pre-foot{
    margin: 0;
}

.foot{
    background-color: #000;
    color: #fff;
}

.foot p{
    text-align: center;
    font-size: 0.85em;
    margin: 0;
    padding: 5px;
}

.movie-link.color-default{
    background-color: #000;
    color: #fff;
}

.title-bar{
    justify-content: flex-start;
}

.title-bar-title{
    padding: 0 0.5em;
}

#movie h4{
    margin: 0;
}

.share-bar{
    font-size: 0.9em;
    text-align: center;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .share-bar{
        position: absolute;
        left: 32px;
        top: 25px;
    }
}

.hidden-link{
    display: none;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 0.1em 0.2em;
    border-radius: 4px;
}

h4 a{
    text-shadow: none;
}

.broadcasts-nav{
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    margin-bottom: 1.25rem;
}

.broadcasts-nav a{
    padding: 0 2em;
}

.label{
    margin: 0.15rem;
}

.side{
    padding: 1em 2em;
    margin: 2em;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-pane{
    display: none;
}

figure.image-empilee,
figure.image-stacked,
figure.image-left{
    float: left;
    width: 40%;
    text-align: center;
}

figure.image-right{
    float: right;
    width: 40%;
    text-align: center;
}

figure.image-center{
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

figure.image-full{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#page h4{
    clear: both;
}

#page iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 74em) {

    .image-pane{
        display: block;
        color: #fff;
        padding-top: 40px;
        padding-left: 0;
        padding-right: 0;
        width: 33.3333333333%;
        float: left;
        min-height: auto;
        position: fixed;
        padding-left: 0.3125rem;
        right: 0;
        height: 100%;
        background-image: url("cinema.jpg");
        background-size:cover;
        background-position: right;
    }

    .content-pane {
        padding-left: 0;
        padding-right: 0;
        width: 66.6666666667%;
        float: left;
        min-height: 100%;
        box-shadow: 0 0 0.625rem 0.125rem #333333;
        box-sizing: border-box;
    }
}