{% extends "admin/base_site.html" %}{% load i18n admin_urls %}

{% block extrastyle %}
{{ block.super }}
<style>
.movie-result{
    display: inline-block;
    max-width: 80%
}

.movie-result div{
    float: left;
    max-width: 600px;
    padding: 0 5px;
}

#id_fetched_movies input{
    display: block;
    float: left;
    height: 120px;
}

ul#id_fetched_movies li{
    list-style-type: none;
    clear: both;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label='fantasmagorie' %}">Fantasmagorie</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{% trans "Movies" %}</a>
  &rsaquo; {% trans "Fetch online" %}
</div>
{% endblock %}

{% block content %}
<h2>{% trans "Fetch online for a new film" %}</h2>
<form id="main-form" action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.movie.errors }}
        {{ form.movie.label_tag }}
        {{ form.movie }}
        <input type="submit" value="{% trans 'Search' %}" name="_search" />
    </div>
    {% if searched and not has_fetched_movies %}
    <div class="fieldWrapper">
        {% trans "No movie found for this search..." %}
    </div>
    {% endif %}
    {% if has_fetched_movies %}
    <div class="fieldWrapper">
        {{ form.fetched_movies.errors }}
        {{ form.fetched_movies }}
    </div>
    <input type="submit" value="{% trans 'Add and fetch another' %}"
           name="_add_and_fetch"/>
    <input type="submit" value="{% trans 'Add and edit' %}" name="_add"/>
    {% endif %}
</form>
{% endblock %}
