{% extends "admin/base_site.html" %}{% load i18n admin_urls %}

{% block extrastyle %}
{{ block.super }}
<style>
#id_videos input{
    display: block;
    float: left;
    height: 250px;
    margin: 10px 20px;
}

ul#id_videos li{
    list-style-type: none;
    clear: both;
    display: inline-block;
}

.yt-result{
    width: 500px;
}

.yt-title{
    display: block;
    width: 500px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5em;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label='fantasmagorie' %}">Fantasmagorie</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{% trans "Movies" %}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'change' movie.pk %}">{{movie}}</a>
  &rsaquo; {% trans "Search video" %}
</div>
{% endblock %}

{% block content %}
<h2>{% trans "Search videos on Youtube" %}</h2>
<form id="main-form" action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.query.errors }}
        {{ form.query.label_tag }}
        {{ form.query }}
        {{ form.extra_query }}
        <input type="submit" value="{% trans 'Search' %}" name="_search" />
    </div>
    {% if form.videos.field.choices %}
    <div class="fieldWrapper">
        {{ form.videos.errors }}
        {{ form.videos }}
    </div>
    <input type="submit" value="{% trans 'Add video' %}" name="_add_video"/>
    {% endif %}
</form>
{% endblock %}
